@import "../../helpers/variables";

.brands-descr {
  
  &__container {
    position: relative;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;

    @media (max-width: $tablet) {
      flex-wrap: initial;
    }

    &-item {
      border-radius: 30px;
      min-height: 380px;
      flex: 0 1 420px;
      overflow: hidden;
      margin-bottom: 22px;
      position: relative;
      padding: 28px 33px 24px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      transition: 0.2s linear;

      @media (max-width: $tablet) {
        flex: auto;
      }

      &:hover {
        scale: 1.05;
      }

      &:not(:nth-child(3n)) {
        margin-right: 20px;

        @media (max-width: $tablet) {
          margin-right: initial;
          margin-bottom: initial;
        }
      }

      &_filevskoe {

        & .brands-descr__list-decor {
          bottom: -48px;
          right: 20px
        }
      }

      &_vologodskiy-plombir {

        & .brands-descr__list-decor {
          bottom: -47px;
          right: 0px;
        }
      }

      &_jemchujina-rossii {
        padding: 35px 33px 24px;

        & .brands-descr__list-subtitle {
          max-width: 295px;
          width: 100%;
        }

        & .brands-descr__list-decor {
          bottom: -47px;
          right: -22px;
        }
      }

      &_ot-deda-moroza {

        & .brands-descr__list-subtitle {
          max-width: 244px;
          width: 100%;
        }

        & .brands-descr__list-decor {
          bottom: -104px;
          right: -17px;
        }
      }

      &_vkuslandia {
        padding: 33px 33px 24px;

        & .brands-descr__list-title {
          margin: 19px 0 12px;
        }

        & .brands-descr__list-subtitle:last-of-type {
          max-width: 300px;
          width: 100%;
        }

        & .brands-descr__list-decor {
          bottom: -34px;
          right: -9px;
        }
      }
    }

    &-title {
      font-family: 'Intro Bold';
      font-size: 28px;
      font-weight: 700;
      line-height: 30.8px;
      text-transform: uppercase;
      margin: 14px 0 12px;
      max-width: 251px;
      width: 100%;

      &:not(.vkuslandia-text):not(.filevskoe-text) {
        color: #FFFFFF;
      }
    }

    &-subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;

      &:not(.vkuslandia-text):not(.filevskoe-text) {
        color: #FFFFFF;
      }

      &:not(:only-child) {
        margin-bottom: 13px;
      }
    }

    &-button {
      max-width: 145px;
      padding: 7px;
      margin-top: auto;
    }

    &-decor {
      position: absolute;
    }
  }

  &__decor {
    position: absolute;
    right: -63px;
    bottom: -70px;
  }
}

