@import "../../helpers/variables";

.brands-descr {
  margin-bottom: 18px;

  @media (max-width: $mobile) {
    margin-bottom: 28px;
  }
  
  &__container {
    position: relative;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $tablet) {
      flex-wrap: initial;
      margin-bottom: 20px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      z-index: 1;
      position: relative;
    }

    &-item {
      border-radius: 30px;
      min-height: 380px;
      height: auto;
      max-width: 420px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 22px;
      position: relative;
      padding: 28px 33px 24px;
      transition: 0.2s linear;

      @media (min-width: $tablet) and (max-width: $laptop) {
        max-width: 48%;
      }

      @media (max-width: $tablet) {
        max-width: 100%;
        min-height: 439px;
      }

      @media (max-width: $mobile) {
        padding: 20px 18px 20px;
      }

      @media (min-width: $tablet) {
        &:hover {
          scale: 1.05;
        }
      }

      &:nth-child(odd) {
        @media (min-width: $tablet) and (max-width: $laptop) {
          margin-right: 20px;
        }
      }

      &:not(:nth-child(3n)) {

        @media (min-width: $laptop) {
          margin-right: 20px;
        }

        @media (max-width: $tablet) {
          margin-right: initial;
          margin-bottom: initial;
        }
      }

      &_filevskoe {

        & .brands-descr__list-subtitle {
          @media (max-width: $mobile) {
            max-width: 220px;
            width: 100%;
          }
        }

        & .brands-descr__list-decor {
          bottom: -48px;
          right: 20px;

          @media (max-width: $mobile) {
            bottom: -45px;
            right: -5px;
            width: 199px;
          }
        }
      }

      &_vologodskiy-plombir {

        & .brands-descr__list-subtitle {
          @media (max-width: $mobile) {
            max-width: 250px;
            width: 100%;
          }
        }

        & .brands-descr__list-decor {
          bottom: -47px;
          right: 0px;

          @media (max-width: $mobile) {
            bottom: -10px;
            right: 0px;
            width: 132px;
          }
        }
      }

      &_jemchujina-rossii {
        padding: 35px 33px 24px;

        @media (max-width: $mobile) {
          padding: 26px 17px 24px 23px;
        }

        & .brands-descr__list-title {
          @media (max-width: $mobile) {
            margin: 15px 0 12px;
          }
        }

        & .brands-descr__list-subtitle {
          max-width: 295px;
          width: 100%;
        }

        & .brands-descr__list-decor {
          bottom: 0px;
          right: 0px;

          @media (max-width: $mobile) {
            width: 176px;
          }
        }
      }

      &_ot-deda-moroza {

        & .brands-descr__list-subtitle {
          max-width: 244px;
          width: 100%;
        }

        & .brands-descr__list-decor {
          bottom: -104px;
          right: -17px;

          @media (max-width: $mobile) {
            bottom: -32px;
            right: -7px;
            width: 147px;
          }
        }
      }

      &_vkuslandia {
        padding: 33px 33px 24px;

        & .brands-descr__list-title {
          margin: 19px 0 12px;
        }

        & .brands-descr__list-subtitle:last-of-type {
          max-width: 300px;
          width: 100%;
        }

        & .brands-descr__list-decor {
          bottom: -34px;
          right: -9px;

          @media (max-width: $mobile) {
            bottom: -10px;
            right: 0px;
            width: 240px;
          }
        }
      }
    }

    &-title {
      font-family: 'Intro Bold';
      font-size: 28px;
      font-weight: 700;
      line-height: 30.8px;
      text-transform: uppercase;
      margin: 14px 0 12px;
      max-width: 251px;
      width: 100%;

      &:not(.vkuslandia-text):not(.filevskoe-text) {
        color: #FFFFFF;
      }

      @media (max-width: $mobile) {
        margin: 5px 0 12px;
      }
    }

    &-subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;

      &:not(.vkuslandia-text):not(.filevskoe-text) {
        color: #FFFFFF;
      }

      &:not(:only-child) {
        margin-bottom: 13px;
      }
    }

    &-button {
      max-width: 145px;
      padding: 7px;
      margin-top: auto;
    }

    &-decor {
      position: absolute;
    }
  }

  &__decor {
    position: absolute;
    right: -63px;
    bottom: -70px;

    @media (max-width: $laptop) {
      right: 21px;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }
}

