@import "../../helpers/variables";

.hero {
  margin-bottom: 25px;

  &__container {
    position: relative;
  }

  &__list {
    &-item {
      min-height: 777px;

      &.brand_filevskoe .hero__list-img {
        top: 114px;

        @media (max-width: $tablet) {
          width: 67vw;
          left: -73px;
        }
      }

      &.brand_vologodskiy-plombir .hero__list-img {
        top: 204px;
        left: 14px;
      }
    }
  }

  &__pagination {
    transition: 0.2s linear;
    top: initial;
    bottom: 88px !important;
    left: 49vw !important;

    @media (min-width: 1920px) {
      bottom: 268px !important;
      left: 50.5vw !important;
    }

    @media (max-width: $mobile) {
      bottom: 105px !important;
      left: 50% !important;
      transform: translateX(-50%);
    }

    & .swiper-pagination-bullet {
      background-color: #FFFFFF;

      &-active {
        scale: 1.4;
      }
    }
  }

  &__decor {
    position: absolute;
    bottom: -117px;
    right: 66px;
    z-index: 1;

    @media (max-width: $tablet) {
      width: 20.5vw;
      bottom: -6vw;
    }

    @media (max-width: $mobile) {
      width: 157px;
      bottom: 0px;
      right: 0px;
    }
  }
}