@import "../../helpers/variables";

.hero {
  background-color: black;
  margin-top: -184px;

  &__list {

    &-item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      padding-top: 280px;
      padding-bottom: 54px;

      &_vologodskiy-plombir {
        background-image: url('/img/brands-hero-bg-1.svg');
      }

      &_filevskoe {
        background-image: url('/img/brands-hero-bg-2.svg');

        & .hero__list-info-title,
        & .hero__list-info-descr {
          color: $mainColor;
        }
      }

      &_jemchujina-rossii {
        background-image: url('/img/brands-hero-bg-3.svg');
      }

      &_ot-deda-moroza {
        background-image: url('/img/brands-hero-bg-4.svg');
      }

      &_vkuslandia {
        background-image: url('/img/brands-hero-bg-5.svg');

        & .hero__list-info-title,
        & .hero__list-info-descr {
          color: $black;
        }
      }
    }

    &-info {

      &-title,
      &-descr {
        color: #FFFFFF;
      }

      &-title {
        font-family: 'Intro Bold';
        font-size: 60px;
        font-weight: 700;
        line-height: 66px;
        text-transform: uppercase;
      }

      &-descr {
        font-size: 26px;
        font-weight: 400;
        line-height: 28.6px;
      }
    }
  }

  &__pagination {
    transition: 0.2s linear;

    & .swiper-pagination-bullet {
      background-color: #FFFFFF;

      &-active {
        scale: 1.4;
      }
    }

    &.vologodskiy-plombir .swiper-pagination-bullet {
      background-color: #FFFFFF;
    }

    &.filevskoe .swiper-pagination-bullet {
      background-color: $mainColor;
    }

    &.jemchujina-rossii .swiper-pagination-bullet {
      background-color: #FFFFFF;
    }

    &.ot-deda-moroza .swiper-pagination-bullet {
      background-color: #FFFFFF;
    }

    &.vkuslandia .swiper-pagination-bullet {
      background-color: $black;
    }
  }
}