@import "../../helpers/variables";

.team {
  margin-top: 151px;

  @media (max-width: $mobile) {
    margin-top: 257px;
  }
  
  &__container {
    position: relative;
  }

  &__title {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    margin-top: 67px;

    @media (min-width: $mobile) and (max-width: $laptop) {
      flex-wrap: wrap;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      margin-top: 22px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: $mobile) and (max-width: $laptop) {
        flex: 0 1 48%;
      }

      &:not(:last-child) {
        @media (min-width: $laptop) {
          margin-right: 75px;
        }

        @media (min-width: $mobile) and (max-width: $laptop) {
          margin-bottom: 75px;
        }

        @media (max-width: $mobile) {
          margin-bottom: 32px;
        }
      }

      &:nth-child(even) {
        @media (min-width: $laptop) {
          transform: translateY(80px);
        }
      }

      & img {
        @media (max-width: $laptop) {
          width: 248px;
        }
      }
    }

    &-text {
      font-family: 'Intro Bold';
      font-size: 18px;
      font-weight: 700;
      line-height: 19.8px;
      text-align: center;
      max-width: 195px;
      width: 100%;
      margin-top: 16px;

      @media (max-width: $mobile) {
        margin-top: 3px;
      }

      @media (max-width: $laptop) {
        font-size: 20px;
        line-height: 20px;
        max-width: 200px;
      }
    }
  }

  &__decor {
    position: absolute;
    top: -277px;
    right: -146px;

    @media (min-width: $tablet) and (max-width: $laptop) {
      width: 480px;
      top: -229px;
    }

    @media (max-width: $tablet) {
      top: -244px;
      right: -130px;
      width: 49vw;
    }

    @media (max-width: $mobile) {
      top: -239px;
      right: -52px;
      width: 297px;
    }
  }
}