@import "../../helpers/variables";

.work {
  margin-top: 16px;

  .vacancies:not(.active) + & {
    @media (max-width: $mobile) {
      margin-top: -75px;
    }
  }

  &__title {
    @media (max-width: $mobile) {
      max-width: 250px;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    margin: 75px 0 131px;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      margin: 75px 0 50px;
    }

    @media (max-width: $mobile) {
      margin: 20px 0 26px;
    }
  }

  &__img-wrapper {
    flex: 0 1 769px;

    @media (min-width: $tablet) and (max-width: $laptop) {
      flex: 0 1 45%;
      margin-right: 50px;
    }

    @media (max-width: $tablet) {
      flex: 0 1 100%;
      margin: 50px auto 0;
    }

    @media (max-width: $mobile) {
      margin: 20px 0 0;
    }

    & img {
      @media (max-width: $laptop) {
        width: 100%;
      }

      @media (max-width: $tablet) {
        max-width: 640px;
      }

      @media (max-width: $mobile) {
        max-width: 88vw;
        height: 55vw;
        object-fit: cover;
      }
    }
  }

  &__decor {
    border-radius: 30px;
  }

  &__form {
    flex: auto;
  }
}