@import "../../helpers/variables";

.work {
  margin-top: 16px;

  .vacancies:not(.active) + & {
    @media (max-width: $mobile) {
      margin-top: -75px;
    }
  }

  &__title {
    @media (max-width: $mobile) {
      max-width: 250px;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    margin: 75px 0 131px;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      margin: 75px 0 50px;
    }

    @media (max-width: $mobile) {
      margin: 20px 0 26px;
    }
  }

  &__img-wrapper {
    flex: 0 1 769px;

    @media (min-width: $tablet) and (max-width: $laptop) {
      flex: 0 1 45%;
      margin-right: 50px;
    }

    @media (max-width: $tablet) {
      flex: 0 1 100%;
      margin: 50px auto 0;
    }

    @media (max-width: $mobile) {
      margin: 20px 0 0;
    }

    & img {
      @media (max-width: $laptop) {
        width: 100%;
      }

      @media (max-width: $tablet) {
        max-width: 640px;
      }

      @media (max-width: $mobile) {
        max-width: 88vw;
        height: 55vw;
        object-fit: cover;
      }
    }
  }

  &__decor {
    border-radius: 30px;
  }

  &__form {
    flex: auto;

    &-item {
      display: flex;
      flex-direction: column;

      &:not(:last-of-type):not(.work__form-item_file) {
        margin-bottom: 18px;

        @media (max-width: $mobile) {
          margin-bottom: 28px;
        }
      }

      &_file {
        margin: 18px 0 21px;

        @media (max-width: $mobile) {
          margin: 32px 0 31px;
        }
      }
    }

    &-label {
      font-family: 'Intro Bold';
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      color: $black;
      width: fit-content;

      @media (max-width: $mobile) {
        font-size: 18px;
        line-height: 19.8px;
      }

      &.required {
        position: relative;

        &::after {
          content: '*';
          color: $mainColor;
          position: absolute;
          right: -14px;
          top: 0;
        }
      }
    }

    &-input {
      appearance: none;
      outline: none;
      border: none;
      border-bottom: 1px solid $black;
      color: $black;
      padding: 9px 0;
    }

    &-notification {
      color: $mainColor;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }

    &-file {
      cursor: pointer;
      opacity: 0.5;
      position: relative;
      padding-top: 19px;
      max-width: 210px;
      width: 100%;

      &::before {
        content: '';
        display: block;
        background: url('/img/form-file-icon.svg') no-repeat center;
        width: 16.67px;
        height: 20px;
        position: absolute;
        left: 0;
        bottom: -3px;
      }

      &.complete {
        opacity: 1;

        &::before {
          background: url('/img/form-file-icon-complete.svg') no-repeat center;
        }
      }

      & .work__form-file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      &-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: $black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        width: 100%;
        display: block;
        padding-left: 26px;
      }
    }

    &-footer {
      display: flex;

      @media (max-width: $mobile) {
        flex-direction: column;
      }

      &-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        max-width: 290px;
        width: 100%;
        margin-left: 42px;

        @media (max-width: $mobile) {
          margin-left: initial;
          margin-top: 19px;
        }
      }
    }
  }
}