@import "../../helpers/variables";

.hero {
  background: url('/img/contacts-hero-bg.svg') no-repeat center;
  background-size: cover;
  padding-top: 226px;
  padding-bottom: 339px;
  background-position: 0 100%;

  @media (max-width: $mobile) {
    padding-top: 169px;
    padding-bottom: 442px;
    background-position: -470px 100%;
  }

  &__container {
    position: relative;
  }

  &__title,
  &__subtitle {
    font-family: 'Intro Bold';
    color: $mainColor;
    font-weight: 700;
  }

  &__title {
    font-size: 29px;
    line-height: 31.9px;
    margin-bottom: 7px;

    @media (max-width: $mobile) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__subtitle {
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    max-width: 600px;
    width: 100%;

    @media (max-width: $tablet) {
      font-size: 50px;
      line-height: 55px;
    }
  }

  &__img {
    position: absolute;
    top: -92px;
    right: -77px;

    @media (max-width: $laptop) {
      width: 47vw;
      top: 73px;
    }

    @media (max-width: $tablet) {
      width: 467px;
      top: 133px;
      right: 3px;
    }

    @media (max-width: $mobile) {
      width: 375px;
      top: 266px;
      right: -14px;
    }
  }
}