@import "../../helpers/variables";

.info {
  margin-top: 19px;

  @media (max-width: $mobile) {
    margin-top: -24px;
  }

  &__title {
    color: $black;
    margin-bottom: 44px;

    @media (max-width: $tablet) {
      font-size: 50px;
      line-height: 56px;
    }

    @media (max-width: $mobile) {
      font-size: 28px;
      line-height: 30.8px;
      max-width: 280px;
      width: 100%;
      margin-bottom: 21px;
    }
  }

  &__swiper {
    max-width: 970px;
  }

  &__list {
    margin: 61px 0 20px;

    @media (max-width: $mobile) {
      margin: 21px 0 20px;
    }

    &-item {
      border: 1px solid $black;
      border-radius: 28px;
      padding: 29px 19px;
      background-color: #FFFFFF;
      display: flex !important;
      flex-direction: column;
      width: 100%;
      height: auto !important;

      @media (max-width: $mobile) {
        min-height: 269px;
      }
    }

    &-position {
      font-family: 'Intro Bold';
      font-size: 22px;
      font-weight: 700;
      line-height: 24.2px;
      margin-bottom: 17px;
      min-height: 72px;
      max-width: 260px;
    }

    &-name,
    &-text {
      font-size: 17px;
      font-weight: 400;
      line-height: 18.7px;
    }

    &-name {
      margin-bottom: 6px;
    }

    &-text {
      color: $black;
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      @media (max-width: 350px) {
        font-size: 15px;
        line-height: 16.7px;
      }
    }

    &-button {
      margin-top: auto;
    }
  }

  &__options {

    &-item {
      position: relative;
      display: none;
      min-height: 408px;

      @media (max-width: $mobile) {
        min-height: 361px;
      }

      &.info_active {
        display: block;
      }

      &:not(.info__options-item_slider) {
        & .info__list-item:not(:last-child) {
          margin-right: 20px;
        }

        & .info__list-item {
          max-width: 310px;
        }
      }
    }
  }

  &__slider-arrows {
    display: none;

    .info__options-item_slider & {
      display: flex;
    }

    @media (min-width: 1200px) and (max-width: $laptop) {
      left: 20px;
      max-width: 97%;
    }

    @media (min-width: 1200px) {
      position: absolute;
      bottom: 180px;
      left: 95px;
      max-width: 1109px;
    }
  }
}