@import "../../helpers/variables";

.info {

  body[data-brand-theme="filevskoe"] & {
    margin-top: 64px;

    @media (max-width: $mobile) {
      margin-top: 10px;
    }
  }

  body[data-brand-theme="vologodskiy-plombir"] & {
    margin-top: 41px;

    @media (max-width: $mobile) {
      margin-top: 10px;
    }
  }

  body[data-brand-theme="jemchujina-rossii"] & {
    margin-top: 60px;

    @media (max-width: $mobile) {
      margin-top: 15px;
    }
  }

  body[data-brand-theme="ot-deda-moroza"] & {
    margin-top: 87px;

    @media (max-width: $mobile) {
      margin-top: 10px;
    }
  }

  body[data-brand-theme="vkuslandia"] & {
    margin-top: 50px;
  }

  &__container {
    position: relative;
  }

  &__decor {
    position: absolute;
    top: -343px;
    right: -13px;

    @media (max-width: $tablet) {
      display: none;
    }
  }


  &__content {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    overflow: hidden;
    min-height: 550px;
    position: relative;

    body[data-brand-theme="filevskoe"] & {
      padding: 122px 45px;

      @media (max-width: $mobile) {
        padding: 29px 21px;
      }
    }

    body[data-brand-theme="vologodskiy-plombir"] & {
      padding: 57px 53px;

      @media (max-width: $tablet) {
        padding: 30px 23px;
        min-height: 835px;
      }
    }

    body[data-brand-theme="jemchujina-rossii"] & {
      padding: 151px 35px 60px;

      @media (max-width: $tablet) {
        padding: 29px 23px 60px;
      }
    }

    body[data-brand-theme="ot-deda-moroza"] & {
      padding: 167px 50px 60px;

      @media (max-width: $tablet) {
        padding: 29px 20px 60px;
        min-height: 474px;
      }
    }

    body[data-brand-theme="vkuslandia"] & {
      padding: 164px 49px 60px;

      @media (max-width: $tablet) {
        padding: 29px 22px 60px;
        min-height: 495px;
      }
    }


    @media (max-width: $mobile) {
      border-radius: 20px;
      min-height: 605px;
    }

    &-title,
    &-descr {
      max-width: 540px;
      width: 100%;

      body:not([data-brand-theme="vkuslandia"]) & {
        color: #FFFFFF;
      }
    }

    &-title {
      font-family: 'Intro Bold';
      font-size: 60px;
      font-weight: 700;
      line-height: 66px;
      text-transform: uppercase;

      @media (max-width: $mobile) {
        font-size: 28px;
        line-height: 30.8px;
      }
    }

    &-descr {
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      margin: 34px 0 29px;

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 17.6px;
        margin: 22px 0;
      }

      body[data-brand-theme="jemchujina-rossii"] & {
        margin: 23px 0 0 0;
        max-width: 500px;
      }

      body[data-brand-theme="ot-deda-moroza"] & {
        max-width: 510px;
      }

      body[data-brand-theme="vkuslandia"] & {
        font-size: 16px;
        line-height: 17.6px;
        margin: 0;

        @media (max-width: $mobile) {
          max-width: 286px;
        }

        &:not(:last-of-type) {
          margin: 23px 0 20px;

          @media (max-width: $mobile) {
            margin: 11px 0 20px;
          }
        }
      }
    }

    &-list {
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media (max-width: $mobile) {
        flex-wrap: wrap;
        justify-content: initial;
      }

      body[data-brand-theme="filevskoe"] & {
        max-width: 303px;

        @media (max-width: $mobile) {
          max-width: 230px;
        }
      }

      body[data-brand-theme="vologodskiy-plombir"] & {
        max-width: 546px;

        @media (max-width: $mobile) {
          max-width: 270px;
        }
      }

      &-item {
        @media (max-width: $mobile) {
          margin-bottom: 6px;

          &:not(:nth-child(4n)):not(:last-child) {
            margin-right: 9px;
          }
        }
      }

      &-img {
        @media (max-width: $mobile) {
          width: 50px;
        }
      }
    }

    &-decor {
      position: absolute;

      body[data-brand-theme="filevskoe"] & {
        width: 377px;
        transform: rotate(-56deg);
        right: 61px;
        bottom: -74px;

        @media (min-width: $tablet) and (max-width: $laptop) {
          width: 27vw;
          top: initial;
          right: 44px;
          bottom: -91px;
        }

        @media (max-width: $tablet) {
          width: 188px;
          right: 39px;
          bottom: -94px;
        }

        @media (max-width: $mobile) {
          bottom: -38px;
        }
      }

      body[data-brand-theme="vologodskiy-plombir"] & {
        right: 75px;
        top: -4px;

        @media (min-width: $tablet) and (max-width: $laptop) {
          width: 35vw;
          top: initial;
          right: 0px;
          bottom: -10px;
        }

        @media (max-width: $tablet) {
          right: -15px;
          top: initial;
          width: 356px;
          bottom: -3px;
        }

        @media (max-width: 365px) {
          width: 265px;
        }
      }

      body[data-brand-theme="jemchujina-rossii"] & {
        transform: rotate(322deg);
        top: -28px;
        right: -141px;

        @media (min-width: $tablet) and (max-width: $laptop) {
          width: 57vw;
          top: initial;
          right: -176px;
          bottom: 36px;
        }

        @media (max-width: $tablet) {
          top: initial;
          right: -71px;
          width: 395px;
          bottom: -4px;
          transform: initial;
        }

        @media (max-width: $mobile) {
          bottom: 27px;
        }
      }

      body[data-brand-theme="ot-deda-moroza"] & {
        right: 0;
        top: 57px;

        @media (min-width: $tablet) and (max-width: $laptop) {
          width: 41vw;
          top: initial;
          bottom: 0;
          right: 0;
        }

        @media (max-width: $tablet) {
          top: initial;
          bottom: 0;
          width: 330px;
          right: 0px;
        }

        @media (max-width: $mobileSmall) {
          width: 265px;
        }
      }

      body[data-brand-theme="vkuslandia"] & {
        top: 75px;
        right: 42px;

        @media (min-width: $tablet) and (max-width: $laptop) {
          width: 41vw;
          top: initial;
          bottom: 0;
          right: 10px;
        }

        @media (max-width: $tablet) {
          width: 330px;
          top: initial;
          bottom: 0;
          right: 5px;
        }

        @media (max-width: $mobileSmall) {
          width: 247px;
        }
      }
    }

    body[data-brand-theme="filevskoe"] & {
      background-image: url('/img/brand-info-content-bg_filevskoe.png');

      @media (max-width: 430px) {
        background-image: url('/img/brand-info-content-bg_filevskoe@mobile.png');
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @media (min-width: 430px) {
          background-image: url('/img/brand-info-content-bg_filevskoe@2x.png');
        }
        @media (max-width: 430px) {
          background-image: url('/img/brand-info-content-bg_filevskoe@mobile@2x.png');
        }
      }
    }

    body[data-brand-theme="vologodskiy-plombir"] & {
      background-image: url('/img/brand-info-content-bg_vologodskiy-plombir.png');

      @media (max-width: 430px) {
        background-image: url('/img/brand-info-content-bg_vologodskiy-plombir@mobile.png');
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @media (min-width: 430px) {
          background-image: url('/img/brand-info-content-bg_vologodskiy-plombir@2x.png');
        }
        @media (max-width: 430px) {
          background-image: url('/img/brand-info-content-bg_vologodskiy-plombir@mobile@2x.png');
        }
      }
    }

    body[data-brand-theme="jemchujina-rossii"] & {
      background-image: url('/img/brand-info-content-bg_jemchujina-rossii.png');

      @media (max-width: 430px) {
        background-image: url('/img/brand-info-content-bg_jemchujina-rossii@mobile.png');
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @media (min-width: 430px) {
          background-image: url('/img/brand-info-content-bg_jemchujina-rossii@2x.png');
        }
        @media (max-width: 430px) {
          background-image: url('/img/brand-info-content-bg_jemchujina-rossii@mobile@2x.png');
        }
      }
    }

    body[data-brand-theme="ot-deda-moroza"] & {
      background-image: url('/img/brand-info-content-bg_ot-deda-moroza.png');

      @media (max-width: 430px) {
        background-image: url('/img/brand-info-content-bg_ot-deda-moroza@mobile.png');
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @media (min-width: 430px) {
          background-image: url('/img/brand-info-content-bg_ot-deda-moroza@2x.png');
        }
        @media (max-width: 430px) {
          background-image: url('/img/brand-info-content-bg_ot-deda-moroza@mobile@2x.png');
        }
      }
    }

    body[data-brand-theme="vkuslandia"] & {
      background-image: url('/img/brand-info-content-bg_vkuslandia.png');

      @media (max-width: 430px) {
        background-image: url('/img/brand-info-content-bg_vkuslandia@mobile.png');
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @media (min-width: 430px) {
          background-image: url('/img/brand-info-content-bg_vkuslandia@2x.png');
        }
        @media (max-width: 430px) {
          background-image: url('/img/brand-info-content-bg_vkuslandia@mobile@2x.png');
        }
      }
    }
  }
}