@import "../helpers/variables";

.hero {
    background: url('../../img/hero-bg.svg') no-repeat center;
    background-size: cover;
    display: flex;

    &__info {
        &-subtitle {
            color: $mainColor;
        }
    }
}