@import "../../helpers/variables";

.awards {
  margin-top: -112px;

  @media (max-width: $mobile) {
    margin-top: 0;
  }

  &__descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    max-width: 550px;
    width: 100%;
    margin: 24px 0 77px;

    @media (max-width: $mobile) {
      font-size: 16px;
      line-height: 18px;
      margin: 19px 0 60px;
    }
  }

  &__list {
    display: flex;

    @media (min-width: $tablet) and (max-width: $laptop) {
      justify-content: center;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 190px;
      width: 100%;

      & img {
        @media (max-width: $mobile) {
          max-width: 80px;
          width: 100%;
        }
      }

      @media (min-width: $tablet) and (max-width: $laptop) {
        max-width: 310px;
      }

      &:not(:last-child) {
        margin-right: 31px;

        @media (min-width: $tablet) and (max-width: $laptop) {
          margin-bottom: 31px;
        }
      }

      &:nth-child(3n) {
        @media (min-width: $tablet) and (max-width: $laptop) {
          margin-right: 0;
        }
      }

      @media (max-width: $tablet) {
        max-width: 100%;

        &:not(:last-child) {
          margin-right: initial;
        }
      }
    }

    &-text {
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      margin-top: 58px;

      & span {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  &__slider-arrows {
    margin-top: 19px;
  }
}