@import "../../helpers/variables";

.buy {

  &__title {

  }

  &__descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    max-width: 626px;
    width: 100%;
  }

  &__list {
    display: flex;

    &-item {
      flex: 0 1 310px;
      border: 1px solid $mainColor;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 310px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}