@import "../../helpers/variables";

.quality {
  background: url('../../../img/quality-bg.png') no-repeat center;
  background-size: cover;
  padding: 191px 0 295px;
  background-position: 0 -5px;

  @media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url('../../../img/quality-bg@2x.png') no-repeat center;
    background-size: cover;
    background-position: 0 -5px;
  }

  &__title {
    margin-bottom: 23px;
  }

  &__content {
    display: flex;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: -75px;

    &-item {
      &:first-child {
        flex: 0 1 558px;
      }

      &:last-child {
        flex: 0 1 230px;
        margin-top: 80px;
      }
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

    &:not(.quality__text_bold) {
      margin-bottom: 22px;
    }

    &_bold {
      font-family: 'Intro Bold';
      font-size: 22px;
      font-weight: 700;
      line-height: 24.2px;
      margin-top: 31px;
      max-width: 390px;
      width: 100%;
      margin-bottom: 31px;
    }
  }

  &__subtitle {
    font-family: 'Intro Bold';
    font-size: 45px;
    font-weight: 700;
    line-height: 49px;
    color: $mainColor;
  }

  &__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    margin-top: 10px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}