<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Айсберри</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/swiper-bundle.css">
    <link rel="stylesheet" href="styles/pages/contacts.css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
</head>
<body>
@@include("../blocks/modules/header/header.html")
<main>
    <section class="hero">
        <div class="hero__container container">
            <h1 class="visually-hidden">Контакты / Обратная связь / Вопросы по качеству продуктов</h1>
            <p class="hero__title">Группа компаний</p>
            <p class="hero__subtitle">Айсберри в&nbsp;Вашем регионе</p>
            <picture>
                <source
                        srcset="./img/contacts-hero-img.png 1x, ./img/contacts-hero-img@2x.png 2x"
                />
                <img
                        src="./img/contacts-hero-img.png"
                        alt="Декоративная картинка"
                        width="730"
                        class="hero__img"
                />
            </picture>
        </div>
    </section>
    <section class="info js-info-parent">
        <div class="info__container container js-info-container decor-right">
            <h2 class="info__title section-title">Айсберри в Вашем регионе</h2>
            <div class="info__select-wrapper">
                <select class="info__select js-info-select">
                    <option value="Москва">Москва</option>
                    <option value="Город 1">Город 1</option>
                    <option value="Город 2">Город 2</option>
                    <option value="Город 2">Город 3</option>
                    <option value="Город 2">Город 4</option>
                    <option value="Город 2">Город 5</option>
                    <option value="Город 2">Город 6</option>
                    <option value="Город 2">Город 7</option>
                </select>
            </div>
            <div class="info__swiper swiper js-info-slider">
                <ul class="info__list swiper-wrapper js-info-content">
                    <li class="info__list-item swiper-slide">
                        <p class="info__list-position">Директор<br/>по&nbsp;продажам</p>
                        <p class="info__list-name">Беседин<br/>Денис Александрович</p>
                        <a href="mailto:Denis.Besedin@iceberry.ru" class="info__list-link">Denis.Besedin@iceberry.ru</a>
                        <button class="info__list-button button">Связаться</button>
                    </li>
                    <li class="info__list-item swiper-slide">
                        <p class="info__list-position">Начальник<br/>управления<br/>продаж Москвы</p>
                        <p class="info__list-name">Сидорков<br/>Николай Александрович</p>
                        <a href="tel:+79163431887" class="info__list-link">+7 (916) 343-18-87</a>
                        <a href="mailto:Nikolay.Sidorkov@iceberry.ru" class="info__list-link">Nikolay.Sidorkov@iceberry.ru</a>
                        <button class="info__list-button button">Связаться</button>
                    </li>
                    <li class="info__list-item swiper-slide">
                        <p class="info__list-position">Начальник<br/>управления<br/>продаж МО</p>
                        <p class="info__list-name">Бычкин<br/>Матвей Вячеславович</p>
                        <a href="tel:+79161059159" class="info__list-link">+7 (916) 105-91-59</a>
                        <a href="mailto:Matvey.Bychkin@iceberry.ru" class="info__list-link">Matvey.Bychkin@iceberry.ru</a>
                        <button class="info__list-button button">Связаться</button>
                    </li>
                    <li class="info__list-item swiper-slide">
                        <p class="info__list-position">Call-центр для заказа<br/>мороженого<br/>в&nbsp;Москве и&nbsp;МО</p>
                        <a href="tel:+79150426740" class="info__list-link">+7 (915) 042-67-40</a>
                        <button class="info__list-button button">Связаться</button>
                    </li>
                    <li class="info__list-item swiper-slide">
                        <p class="info__list-position">Директор<br/>по продажам</p>
                        <p class="info__list-name">Беседин<br/>Денис Александрович</p>
                        <a href="mailto:Denis.Besedin@iceberry.ru" class="info__list-link">Denis.Besedin@iceberry.ru</a>
                        <button class="info__list-button button">Связаться</button>
                    </li>
                </ul>
            </div>
            <div class="info__slider-arrows slider-arrows">
                <div class="info__slider-prev swiper-button-prev"></div>
                <div class="info__slider-next swiper-button-next"></div>
            </div>
            <picture>
                <source
                        srcset="/img/contacts-info-decor.png 1x, /img/contacts-info-decor@2x.png 2x"
                />
                <img
                        src="/img/contacts-info-decor.png"
                        alt="Декоративная картинка"
                        width="206"
                        class="info__decor"
                />
            </picture>
        </div>
    </section>
    <section class="work">
        <div class="work__container container">
            <h2 class="work__title section-title">Заполнить анкету</h2>
            <div class="work__content">
                <div class="work__form">
                    <form class="work__form-content">
                        <div class="work__form-item career-form-item">
                            <label for="name" class="work__form-label required">ФИО</label>
                            <input type="text" id="name" class="work__form-input form-input">
                        </div>
                        <div class="work__form-item career-form-item">
                            <label for="city" class="work__form-label required">Город</label>
                            <input type="text" id="city" class="work__form-input form-input">
                        </div>
                        <div class="work__form-item career-form-item">
                            <label for="phone" class="work__form-label required">Контактный телефон</label>
                            <input type="text" id="phone" class="work__form-input form-input">
                        </div>
                        <div class="work__form-item career-form-item">
                            <label for="position" class="work__form-label required">Желаемая должность</label>
                            <input type="text" id="position" class="work__form-input form-input">
                        </div>
                        <p class="work__form-notification">* Поля, обязательные для заполнения.</p>
                        <div class="work__form-item career-form-item career-form-item_file">
                            <p class="work__form-label required">Прикрепить резюме</p>
                            <div class="work__form-file js-file-wrapper" data-max-files="2">
                                <input type="file" id="file" class="work__form-file-input js-file-input">
                                <label for="file" class="work__form-file-text js-file-label">Добавить</label>
                            </div>
                        </div>
                        <div class="work__form-footer">
                            <button class="work__form-footer-button button js-form-submit">Отправить анкету</button>
                            <p class="work__form-footer-text">Нажимая на кнопку «Отправить анкету», вы даете согласие на
                                обработку персональных данных.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
@@include("../blocks/modules/footer/footer.html")
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="js/main.js"></script>
<script src="js/pages/contacts.js"></script>
</body>
</html>