<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Айсберри</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/swiper-bundle.css">
    <link rel="stylesheet" href="styles/pages/contacts.css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
</head>
<body>
@@include("../blocks/modules/header/header.html")
<main>
    <section class="hero">
        <div class="hero__container container">
            <h1 class="visually-hidden">Карьера в Айсберри</h1>
        </div>
    </section>
    <section class="info js-info-parent">
        <div class="info__container container js-info-container">
            <h2 class="info__title section-title">Вакансии в&nbsp;твоем городе</h2>
            <div class="info__select-wrapper">
                <select class="info__select js-info-select">
                    <option value="Москва">Москва</option>
                    <option value="Город 1">Город 1</option>
                    <option value="Город 2">Город 2</option>
                    <option value="Город 2">Город 3</option>
                    <option value="Город 2">Город 4</option>
                    <option value="Город 2">Город 5</option>
                    <option value="Город 2">Город 6</option>
                    <option value="Город 2">Город 7</option>
                </select>
            </div>
            <div class="info__swiper swiper js-info-slider">
                <ul class="info__list swiper-wrapper js-info-content">
                    <li class="info__list-item swiper-slide">
                        <p class="info__list-title">Мерчендайзер</p>
                        <p class="info__list-descr">Условия:</p>
                        <ul class="info__list-conditions">
                            <li class="info__list-conditions-text">График работы: 5/2,<br/>с 9:00 до 18:00;</li>
                            <li class="info__list-conditions-text">Заработная плата –
                                от&nbsp;35&nbsp;000&nbsp;руб;
                            </li>
                            <li class="info__list-conditions-text">Оплата проезда, мобильной связи;</li>
                            <li class="info__list-conditions-text">Посещение офиса<br/>один раз в неделю;</li>
                            <li class="info__list-conditions-text">Вакантные территории<br/>уточняйте по телефону.
                            </li>
                        </ul>
                        <button class="info__list-button button js-modal-trigger">Узнать подробнее</button>
                    </li>
                </ul>
            </div>
            <div class="info__slider-arrows slider-arrows slider-arrows_mobile">
                <div class="info__slider-prev swiper-button-prev"></div>
                <div class="info__slider-next swiper-button-next"></div>
            </div>
            <picture>
                <source
                        srcset="./img/career-info-decor.png 1x, ./img/career-info-decor@2x.png 2x"
                />
                <img
                        src="./img/career-info-decor.png"
                        alt="Декоративная картинка"
                        width="530"
                        class="info__decor"
                />
            </picture>
        </div>
    </section>
    <section class="work">
        <div class="work__container container">
            <h2 class="work__title section-title">Заполнить анкету</h2>
            <div class="work__content">
                <div class="work__img-wrapper">
                    <picture>
                        <source
                                srcset="./img/career-work-decor.png 1x, ./img/career-work-decor@2x.png 2x"
                        />
                        <img
                                src="./img/career-work-decor.png"
                                alt="Декоративная картинка"
                                width="640"
                                class="work__decor"
                        />
                    </picture>
                </div>
                <div class="work__form">
                    <form class="work__form-content">
                        <div class="work__form-item career-form-item">
                            <label for="name" class="work__form-label required">ФИО</label>
                            <input type="text" id="name" class="work__form-input form-input">
                        </div>
                        <div class="work__form-item career-form-item">
                            <label for="city" class="work__form-label required">Город</label>
                            <input type="text" id="city" class="work__form-input form-input">
                        </div>
                        <div class="work__form-item career-form-item">
                            <label for="phone" class="work__form-label required">Контактный телефон</label>
                            <input type="text" id="phone" class="work__form-input form-input">
                        </div>
                        <div class="work__form-item career-form-item">
                            <label for="position" class="work__form-label required">Желаемая должность</label>
                            <input type="text" id="position" class="work__form-input form-input">
                        </div>
                        <p class="work__form-notification">* Поля, обязательные для заполнения.</p>
                        <div class="work__form-item career-form-item career-form-item_file">
                            <p class="work__form-label required">Прикрепить резюме</p>
                            <div class="work__form-file js-file-wrapper" data-max-files="2">
                                <input type="file" id="file" class="work__form-file-input js-file-input">
                                <label for="file" class="work__form-file-text js-file-label">Добавить</label>
                            </div>
                        </div>
                        <div class="work__form-footer">
                            <button class="work__form-footer-button button js-form-submit">Отправить анкету</button>
                            <p class="work__form-footer-text">Нажимая на кнопку «Отправить анкету», вы даете согласие на
                                обработку персональных данных.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
@@include("../blocks/modules/footer/footer.html")
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="js/main.js"></script>
<script src="js/pages/contacts.js"></script>
</body>
</html>