<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Айсберри</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/pages/index.css">
</head>
<body>
@@include("../blocks/modules/header/header.html")
<main>
    <section class="hero">
        <div class="container hero__container">
            <div class="hero__info">
                <p class="hero__info-subtitle">Группа компаний</p>
                <h1 class="hero__info-title">Айсберри</h1>
                <p class="hero__info-descr">№1 производитель мороженого в России</p>
            </div>
            <picture>
                <source
                        srcset="./img/hero-img.png 1x, ./img/hero-img@2x.png 2x"
                />
                <img
                        src="./img/hero-img.png"
                        alt="Декоративная картинка"
                        width="773"
                        class="hero__info-img"
                />
            </picture>
        </div>
    </section>
    <section class="today">
        <div class="container today__container">
            <h2 class="today__title section-title">Айсберри сегодня</h2>
            <ul class="today__list">
                <li class="today__list-item">
                    <picture>
                        <source
                                srcset="./img/today-img-1.png 1x, ./img/today-img-1@2x.png 2x"
                        />
                        <img
                                src="./img/today-img-1.png"
                                alt="Декоративная картинка"
                                width="310"
                                class="today__list-img"
                        />
                    </picture>
                    <p class="today__list-text">Крупнейший российский производитель мороженого</p>
                </li>
                <li class="today__list-item">
                    <picture>
                        <source
                                srcset="./img/today-img-2.png 1x, ./img/today-img-2@2x.png 2x"
                        />
                        <img
                                src="./img/today-img-2.png"
                                alt="Декоративная картинка"
                                width="310"
                                class="today__list-img"
                        />
                    </picture>
                    <p class="today__list-text">Единственная компания в&nbsp;России, владеющая тремя фабриками по&nbsp;производству мороженого</p>
                </li>
                <li class="today__list-item">
                    <picture>
                        <source
                                srcset="./img/today-img-3.png 1x, ./img/today-img-3@2x.png 2x"
                        />
                        <img
                                src="./img/today-img-3.png"
                                alt="Декоративная картинка"
                                width="310"
                                class="today__list-img"
                        />
                    </picture>
                    <p class="today__list-text">Более 250 наименований мороженого</p>
                </li>
                <li class="today__list-item">
                    <picture>
                        <source
                                srcset="./img/today-img-4.png 1x, ./img/today-img-4@2x.png 2x"
                        />
                        <img
                                src="./img/today-img-4.png"
                                alt="Декоративная картинка"
                                width="310"
                                class="today__list-img"
                        />
                    </picture>
                    <p class="today__list-text">Год основания – 1938</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="awards">
        <div class="awards__container container">
            <h2 class="awards__title section-title">Наши награды</h2>
            <p class="awards__descr">Высокое качество нашего мороженого неоднократно подтверждено ведущими экспертами отрасли, о&nbsp;чем&nbsp;говорят полученные премии и награды.</p>
            <ul class="awards__list">
                <li class="awards__list-item">
                    <picture>
                        <source
                                srcset="./img/awards-img-1.png 1x, ./img/awards-img-1@2x.png 2x"
                        />
                        <img
                                src="./img/awards-img-1.png"
                                alt="Декоративная картинка"
                                width="100"
                                class="awards__list-img"
                        />
                    </picture>
                    <p class="awards__list-text">Знак качества<br/><span>2018 - 2022 г.</span></p>
                </li>
                <li class="awards__list-item">
                    <picture>
                        <source
                                srcset="./img/awards-img-2.png 1x, ./img/awards-img-2@2x.png 2x"
                        />
                        <img
                                src="./img/awards-img-2.png"
                                alt="Декоративная картинка"
                                width="100"
                                class="awards__list-img"
                        />
                    </picture>
                    <p class="awards__list-text">Золотая сотня<br/><span>2013 - 2023 г.</span></p>
                </li>
                <li class="awards__list-item">
                    <picture>
                        <source
                                srcset="./img/awards-img-3.png 1x, ./img/awards-img-3@2x.png 2x"
                        />
                        <img
                                src="./img/awards-img-3.png"
                                alt="Декоративная картинка"
                                width="100"
                                class="awards__list-img"
                        />
                    </picture>
                    <p class="awards__list-text">Лучшее - детям<br/><span>2016 - 2023 г.</span></p>
                </li>
                <li class="awards__list-item">
                    <picture>
                        <source
                                srcset="./img/awards-img-4.png 1x, ./img/awards-img-4@2x.png 2x"
                        />
                        <img
                                src="./img/awards-img-4.png"
                                alt="Декоративная картинка"
                                width="100"
                                class="awards__list-img"
                        />
                    </picture>
                    <p class="awards__list-text">Настоящий вологодский продукт</p>
                </li>
                <li class="awards__list-item">
                    <picture>
                        <source
                                srcset="./img/awards-img-5.png 1x, ./img/awards-img-5@2x.png 2x"
                        />
                        <img
                                src="./img/awards-img-5.png"
                                alt="Декоративная картинка"
                                width="100"
                                class="awards__list-img"
                        />
                    </picture>
                    <p class="awards__list-text">ЭКО продукт</p>
                </li>
                <li class="awards__list-item">
                    <picture>
                        <source
                                srcset="./img/awards-img-6.png 1x, ./img/awards-img-6@2x.png 2x"
                        />
                        <img
                                src="./img/awards-img-6.png"
                                alt="Декоративная картинка"
                                width="100"
                                class="awards__list-img"
                        />
                    </picture>
                    <p class="awards__list-text">Гарантия качества</p>
                </li>
            </ul>
        </div>
    </section>
</main>
@@include("../blocks/modules/footer/footer.html")
<script src="js/main.js"></script>
<script src="js/pages/index.js"></script>
</body>
</html>