@import "../../helpers/variables";

.factory {
  z-index: 2;

  &__container {
    display: flex;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    margin-top: 107px;
    flex: 0 1 488px;

    @media (min-width: $tablet) and (max-width: $laptop) {
      margin-top: 71px;
      margin-bottom: 50px;
    }

    @media (max-width: $tablet) {
      margin-top: -19px;
      flex: auto;
    }

    &-title {
      margin-bottom: 34px;

      @media (max-width: $tablet) {
        margin-bottom: 20px;
      }
    }

    &-descr {
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      max-width: 380px;
      width: 100%;

      @media (max-width: $tablet) {
        font-size: 16px;
        line-height: 17.6px;
        max-width: 310px;
      }
    }

    &_mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 28px 0 38px;

      @media (min-width: $tablet) {
        display: none;
      }

      & .factory__list-text:first-child {
        margin-bottom: 31px;

        @media (max-width: $tablet) {
          margin-bottom: 95px;
        }
      }

      & .factory__list-text:last-child {
        max-width: 211px;
        width: 100%;
        text-align: center;
      }
    }
  }

  &__list {
    display: flex;

    @media (min-width: $tablet) and (max-width: $laptop) {
      margin: 0 auto;
    }

    &-item {

      &:nth-child(1) {
        transform: translate(49px, -82px);

        @media (max-width: $tablet) {
          transform: translate(-5px, -39px);
        }

        & .factory__list-text {
          margin-top: 25px;
          margin-left: 173px;
          max-width: 180px;
          width: 100%;

          @media (min-width: $tablet) and (max-width: $laptop) {
            margin-left: 50px;
          }
        }
      }

      &:nth-child(2) {
        transform: translate(26px, 30px);

        @media (max-width: $tablet) {
          transform: translate(-19px, 7px);
        }

        & .factory__list-text {
          position: relative;
          max-width: 211px;
          margin: 74px 0 0 103px;

          @media (min-width: $tablet) and (max-width: $laptop) {
            margin-left: 50px;
          }
        }
      }

      & .factory__list-text {
        @media (max-width: $tablet) {
          display: none;
        }
      }
    }

    &-text {
      font-size: 17px;
      font-weight: 400;
      line-height: 18.7px;

      & span {
        font-family: 'Intro Bold';
        font-size: 45px;
        font-weight: 700;
        line-height: 49.5px;

        @media (min-width: $tablet) and (max-width: $laptop) {
          width: 300px;
        }
      }

      &_icon {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: -67px;
          background: url('/img/iceberry-today-factory-icon.svg') no-repeat center;
          width: 58px;
          height: 58px;

          @media (max-width: $tablet) {
            top: -67px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    &-img {
      @media (min-width: $tablet) and (max-width: $laptop) {
        width: 300px;
      }

      @media (max-width: $tablet) {
        width: 179px;
      }
    }

    &-icon {
      margin-bottom: 10px;
    }
  }
}