@import "../../helpers/variables";

.hero {
  background-color: $white;
  color: $mainColor;
  padding-bottom: 41px;
  background-position: 0 100%;

  @media (min-width: $tablet) and (max-width: $laptop) {
    padding-bottom: 100px;
  }

  &__content {
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }

  &__img {
    width: 450px;
    transform: translate(0px, 32px);

    @media (min-width: $laptop) {
      width: auto;
      transform: translate(-70px, 32px);
    }

    @media (max-width: $tablet) {
      transform: translate(1px, -40px);
    }

    &_mobile {
      width: 375px;

      @media (min-width: $tablet) {
        display: none;
      }
    }

    &_desktop {
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__info {
    font-family: 'Intro Bold';
    margin-top: 66px;
    font-weight: 700;

    @media (min-width: $laptop) {
      transform: translateX(-96px);
    }

    @media (min-width: $tablet) and (max-width: $laptop) {
      margin: 66px auto 0;
    }

    @media (max-width: $tablet) {
      margin-top: 178px;
    }

    &-subtitle,
    &-descr {
      font-size: 29px;
      line-height: 32px;
      color: $mainColor;
    }

    &-subtitle {
      text-align: right;

      @media (max-width: $tablet) {
        font-size: 20px;
        line-height: 20px;
      }
    }

    &-title {
      font-family: 'Intro Bold';
      font-size: 91px;
      line-height: 126px;
      text-transform: uppercase;
      margin-bottom: 17px;

      @media (min-width: $laptop) {
        font-size: 126px;
      }

      @media (max-width: $tablet) {
        font-size: 60px;
        line-height: 66px;
      }
    }

    &-descr {
      max-width: 394px;

      @media (max-width: $tablet) {
        font-size: 22px;
        line-height: 24.2px;
      }
    }
  }

}