@import "../../helpers/variables";

.icon-info {
  background-color: $white;
  overflow: hidden;
  
  &__container {
    position: relative;
  }

  &__list {
    display: flex;
    padding: 49px 0 50px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    @media (max-width: 1024px) {
      justify-content: center;
      padding: 30px 0 215px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 1 220px;

      &:not(:last-child) {
        margin-right: 70px;

        @media (min-width: 1024px) and (max-width: 1400px) {
          margin-right: 4.9vw;
          flex: 0 1 15.3vw;
        }

        @media (max-width: 1024px) {
          flex: auto;
          margin-right: 0;
          margin-bottom: 37px;
        }
      }
    }

    &-title {
      font-family: 'Intro Bold';
      font-size: 22px;
      font-weight: 700;
      line-height: 24.2px;
      text-align: center;
      margin-top: 18px;
      max-width: 180px;
      width: 100%;

      @media (max-width: 1024px) {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        max-width: 220px;
        width: 100%;
      }

      & span {
        font-size: 29px;
        line-height: 31.9px;

        @media (max-width: 1024px) {
          font-size: 24px;
          line-height: 26.4px;
          text-align: center;
        }
      }
    }
  }

  &__decor {
    position: absolute;
    right: -271px;
    top: -46px;

    @media (max-width: 1024px) {
      left: 50%;
      transform: translateX(-47%) rotate(92deg);
      top: initial;
      bottom: -160px;
      width: 482px;
    }
  }
}