.footer {
  background-color: $mainColor;
  border-radius: 50px 50px 0 0;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;

  @media (max-width: 767px) {
    border-radius: 30px 30px 0 0;
  }

  &__container {
    padding-top: 30px;
    padding-bottom: 41px;
    display: flex;

    @media (max-width: 767px) {
      padding-top: 21px;
    }
  }

  &__img-wrapper {
    position: relative;
    flex: 0 1 200px;

    @media (min-width: 1400px) {
      flex: 0 1 339px;
    }

    @media (max-width: 767px) {
      display: none;
    }

    & a,
    & img {
      border-radius: 50%;
      max-width: 100px;
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 80px;
    flex: 0 1 614px;
    margin-top: 9px;

    @media (max-width: 1400px) {
      flex: 0 1 500px;
    }

    @media (max-width: 767px) {
      max-height: initial;
    }

    &-item {
      @media (max-width: 767px) {
        margin-bottom: 16px;
      }


      &:not(:nth-child(3n)) {
        margin-bottom: 16px;
      }

      & a {
        font-family: 'Intro Bold';
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: auto;
    margin-top: 10px;
    text-align: right;

    &-title {
      font-family: 'Intro Bold';
      font-weight: 700;
      color: #FFFFFF;

      @media (max-width: 767px) {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-top: 6px;
      }
    }

    &-socials {
      display: flex;
      margin-top: 15px;

      &-item {
        border-radius: 50%;

        &:not(:last-child) {
          margin-right: 20px;
        }

        & img {
          width: 31px;
          height: 31px;
        }
      }
    }
  }

  &__info-logo,
  &__info-logo img {
    max-width: 100px;
    width: 100%;

    @media (min-width: 767px) {
      display: none;
    }
  }
}