.footer {
  background-color: $mainColor;
  border-radius: 50px 50px 0 0;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;

  &__container {
    padding-top: 30px;
    padding-bottom:41px;
    display: flex;
  }

  &__img-wrapper {
    position: relative;
    flex: 0 1 339px;

    & a,
    & img {
      border-radius: 50%;
      max-width: 100px;
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 80px;
    max-width: 614px;
    width: 100%;
    margin-top: 9px;

    &-item {

      &:not(:nth-child(3n)) {
        margin-bottom: 16px;
      }

      & a {
        font-family: 'Intro Bold';
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }

  &__info {
    &-title {
      font-family: 'Intro Bold';
    }

    &-socials {
      display: flex;

      &-item {

        &:not(:last-child) {
          margin-right: 20px;
        }

        & img {
          width: 31px;
          height: 31px;
        }
      }
    }
  }
}