@import "../helpers/variables";

.choices {
  max-width: 440px;
  z-index: 100;
  width: 100%;
  border-radius: 100px;

  @media (max-width: $mobile) {
    max-width: 80vw;
    margin-bottom: 0!important;
  }

  &.is-open,
  &.is-open .choices__inner {
    border-radius: 30px 30px 0 0 !important;
    border-bottom: none !important;
  }

  &.is-open {
    & .choices__item::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 20px !important;
    top: 50%;
    transform: translateY(-50%);
    width: 30px !important;
    height: 30px !important;
    background: url('/img/select-search-icon.svg') no-repeat center;
    border-style: initial !important;
    border-color: initial !important;
    border-width: initial !important;
    margin-top: initial !important;

    @media (max-width: $mobile) {
      width: 20px !important;
      height: 20px !important;
      background-size: cover;
    }
  }

  &__inner {
    border-radius: 100px !important;
    border: 1px solid $black !important;
    background-color: #FFFFFF !important;
    padding: 10px 15px !important;

    @media (max-width: $mobile) {
      padding: 12px 14px !important;
    }
  }

  &__item {
    color: $black;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    background-color: initial!important;

    .choices__inner & {
      position: relative;
      width: fit-content !important;
      max-width: 320px;
      font-family: 'Intro Bold';
      font-size: 29px;
      font-weight: 700;
      line-height: 31.9px;

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 16px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: -34px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 10px;
        background: url('/img/select-arrow.svg') no-repeat center;

        @media (max-width: $mobile) {
          width: 9px;
          height: 6px;
          background-size: cover;
          right: -15px;
          top: 53%;
        }
      }
    }

    &.is-selected {
      display: none;
    }
  }

  &__list--dropdown {
    border: 1px solid $black !important;
    padding-bottom:9px;

    @media (max-width: $mobile) {
      padding-bottom: 4px;
    }

    &.is-active {
      border-radius: 0 0 30px 30px !important;
      border-top: none !important;
    }

    & .choices__item {
      color: $black !important;
      font-size: 20px !important;
      font-weight: 400 !important;
      line-height: 22px !important;
      padding: 0 19px 15px !important;
    }
  }
}