.modal {
  position: fixed;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.20);
  backdrop-filter: blur(15px);

  &.active {
    z-index: 1000;
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    border-radius: 30px;
    background: #FFFFFF;
    max-width: 1080px;
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    -webkit-overflow-scrolling: touch;

    @media (max-width: $tablet) {
      border-radius: 20px;
      max-width: 88%;
    }
  }

  &__close {
    position: absolute;
  }
}

.modal-anim-open {
  animation: openModalAnim 0.3s ease forwards;
}

.modal-anim-close {
  animation: closeModalAnim 0.3s ease forwards;
}

@keyframes openModalAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeModalAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}